# Auto detect text files and perform LF normalization
* text=auto
server/searchEngine/model/context filter=lfs diff=lfs merge=lfs -text
server/searchEngine/model/query filter=lfs diff=lfs merge=lfs -text
server/searchEngine/model/context/tokenizer/special_tokens_map.json filter=lfs diff=lfs merge=lfs -text
server/searchEngine/model/context/tokenizer/tokenizer_config.json filter=lfs diff=lfs merge=lfs -text
server/searchEngine/model/context/tokenizer/vocab.txt filter=lfs diff=lfs merge=lfs -text
server/searchEngine/model/context/bert/config.json filter=lfs diff=lfs merge=lfs -text
server/searchEngine/model/context/bert/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
